*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    height: 100vh;
    width: 100vw;
}
.navbar{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: white;
}.navbar ul{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    list-style-type: none;
}.navbar ul li a{
    font-size: small;
    text-decoration: none;
    color: black;
}.navbar ul li a:hover{
    color: rgb(235, 118, 8);
}
.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.content img{
    height: 500px;
    object-fit: cover;
    margin-top: 30px;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 330px;
    font-size: larger;
}

.heading h1{
    font-family: 'Nothing You Could Do', cursive;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    margin-right: 10px;
}
.heading h3{
    font-family: 'Nothing You Could Do', cursive;
font-family: 'Quicksand', sans-serif;
font-size: 20px;
margin-left: 10px;
}
.heading h2{
    font-family: 'Nothing You Could Do', cursive;
font-family: 'Quicksand', sans-serif;
}


.button{
    display: flex;
    justify-content: space-between;
    width: 280px;
}
.button button{
    background-color:rgb(210,127,44);
    color: white;
    border: none;
    height: 50px;
    width: 130px; 
}
.btn button{
    background-color: white;
    border: solid;
    color: rgb(210,127,44);
    border-color: rgb(210,127,44);
    height: 50px;
    width: 120px;

}
.button button:hover{
    background-color: black;
    transition: 0.5s;
}
.btn button:hover{
    background-color: rgb(210,127,44) ;
    color: white;
    transition: 0.5s;
}
.about{
    background-color: rgb(235,236,242);
    height: 100vh;
    width: 100vw;
    margin-top: 100px;
    display: flex;
    /* justify-content: space-evenly; */
    padding: 200px;
    align-items: center;
    
    
    
}
.image{
    background-color: white;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.info img{
    height: 350px;
    
    position: relative;
    
    

}  
.info{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    justify-content: space-evenly;
    
     
    font-family: 'Poppins', sans-serif;
  
    
}  
.cv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    margin-left: 40px;
    margin-top: 100px;
}.data{
    display: flex;
    align-items: center;
    width:500px;
    
    justify-content: space-between;
    
}
.bio ul{
    list-style-type: none;
    
    font-family: 'Poppins', sans-serif;
}
.icon{
    display: flex;
    flex-direction: column;
    color:  rgb(210,127,44);
    font-size: 25px;
    position: absolute;
    top: 880px;
    background-color: white;left: ;
    left: 210px;
    
}
.skill{
    background-color: white;
    height: 100vh;
    width: 100vw;
    padding: 150px;
}
.intro{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    font-size: larger;
}
.progress{
    background-color:rgb(239,238,239);
    height: 5px; 
    width: 500px;
}
.bar{
    background-color: rgb(210,127,44);
    height: 5px;
    width: 70%;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    width: 90%;
    
    
}
.bar1{
    background-color: rgb(210,127,44);
    height: 5px;
    width: 60%;}
.bar2{
    background-color: rgb(210,127,44);
    height: 5px;
    width: 50%;}
.bar3{
    background-color: rgb(210,127,44);
    height: 5px;
    width: 90%;}
.percent{
    display: flex;
    justify-content: space-between;
    width: 55%;
}    
.percent1{
    display: flex;
    justify-content: space-between;
    width: 45%;
}    
.percent2{
    display: flex;
    justify-content: space-between;
    width: 35%;
}    
.percent3{
    display: flex;
    justify-content: space-between;
    width: 65%;
}    

.skillbar button{
   border-color: rgb(210,127,44);
   background-color: white;
   color:black;
   height: 90px;
   width: 200px;
   font-size: large;
   font-weight: bold;
} 

.skillbar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px ;
    width: 100px;

}

 .in{
    display: flex;
    justify-content: space-between;
    /* width: 70%; */
    
    
}.sb{
    /* height: 50%; */
    width: 50%;
    margin-top: 50px;

}
.service{
    background-color: rgb(235,236,242);
    height: 100vh;
    width: 100vw;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
    

    }
    .head{display: flex;
        flex-direction: column;
        width: 90%;
        height: 100px;
        font-family: 'Poppins', sans-serif;
        justify-content: space-between;
    
    }
        
         
      

    
    
 
.card{
    background-color: white;
    height: 200px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px;
    
    
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 100%;
    /* align-items: center; */
    margin-top: 20px;
    justify-content: space-around;column-gap: ;
    
} .tot{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    
}
.card:hover{
    background-color:rgb(210,127,44) ;
    color: white;
    transform: translate(-10px,-10px);
    transition: 0.5s;
}

.card i{
    font-size: 40px;
}
.works{
    background-color: white;
    height: 100vh;
    width: 100vw;
    padding: 50px;
}
.images img{
    height: 250px;
    width: 330px;
    
    
}.images{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    object-fit: cover;
    
}.images img:hover{
    transition: 0.5 all;
    transform: scale(1.1);

}.topic{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
}.testimonials{
    background-color: rgb(235,236,242);
    height: 70vh;
    width: 100vw;
    margin-top: 40px;
    padding: 50px;

}.top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
}
.review{
    background-color: white;
    width: 500px;
    display: flex;
    height: 200px;
    padding: 5px;
    
}.review img{
    height: 100px;
    border-radius: 50%;
    padding: 10px;
}.cont{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}.reviews{
    display: flex;
    justify-content: space-between;
    width: 80%;
    }
.complete{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    align-items: center ;
}
.line{
    border-bottom: 3px solid rgb(210,127,44) ;
    width: 60px;
    
}  
.latestblog{
    background-color: white;
    height: 100vh;
    width: 100vw;
    padding: 70px;
    
}  
.starting{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:80px ;
}
.blog{
    position: relative;
    

}
.blog img{
    height: 250px;
}
.p1{
    display: inline;
    background-color:rgb(210,127,44);
    color: white;
    

}.design{
    background-color: whitesmoke;
    width: 300px;
    height: 180px;
    
    
}.design a{
    color: rgb(210,127,44) ;
}

.input{
    position: absolute;
    top: 70%;
    padding: 10px;
    
}.ins{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 180px;
    padding: 10px;
}.blogs{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 50px;
}
.contact{
    background-color: rgb(235,236,242) ;
    /* height: 100vh; */
    /* width: 100%; */
    margin-top: 20px;
    padding: 50px;
    
}
.details{
   
    display: flex;
    justify-content: space-between;
    width: 100%;
    
} 
.interact{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.detail{
    background-color: white;
    height: 60%;
    width: 60%;
    padding: 20px;
    margin-top: 40px;
}
.email input{
    border: none;
    border-bottom: 1px solid black ;
    width: 45%;
}.detail input{
    border: none;
    border-bottom: 1px solid black ;

}.detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
}
.detail textarea{
    border: none;
    border-bottom: 1px solid black ;
    height: 60px;
}
.contactinfo{
    background-color: white;
    height: 130px;
    width: 350px;
    padding: 20px;
    margin-top: 15px;
}
.contactinfo i {

    background-color: rgb(210,127,44) ;
    border-radius: 50%;
    color: white;
    font-size:20px;
    padding: 10px;
    
    
}.section1{
    display: flex; 
    flex-direction: column;
    height: 70px;
    margin-left: 10px;
    justify-content: space-evenly;
    margin-top: 10px;
}
.contactinfo{
    display: flex;
    
}
.section{

    margin-top: 20px;
}
.contactinfos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.taskbar{
    background-color: black;
    height: 10%;
    width: 100%;
    margin-top: 20px;

    
}
.icon1{
    color: grey;
    margin-left: 10px;
}
.copyrights{
    color: gray;

}
.class{
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 15px;
}
.card i{
    border: 3px dotted  rgb(210,127,44);
    border-radius: 50%;
    width: 60px;
    padding: 5px;
    margin-bottom: 10px;}